Repository GeoscienceAustralia/dea-notebooks, pull requests merged in 2019-09, with the labels that each got.

#338 Update notebook template
  DEA-notebooks_template.ipynb
  DEA_Notebooks_Template.ipynb
Labels: DEA-notebooks_refresh

#348 Add autoformatter details to template notebook and move tags info upward
  DEA_notebooks_template.ipynb
Labels: DEA-notebooks_refresh

#341 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: DEA-notebooks_refresh

#349 Add initial set of scripts and funcs to `develop`
  Scripts/dea_bandindices.py
  Scripts/dea_coastaltools.py
  Scripts/dea_datahandling.py
  Scripts/dea_plotting.py
  Scripts/dea_spatialtools.py
Labels: DEA-notebooks_refresh

#353 Add MSAVI and NDCI to calculate_indices
  Scripts/dea_bandindices.py
Labels: DEA-notebooks_refresh

#350 Add Using_load_ard notebook to develop branch
  Frequently_used_code/Using_load_ard.ipynb
Labels: DEA-notebooks_refresh

#354 Fix AWEI water index formulas
  Scripts/dea_bandindices.py
Labels: DEA-notebooks_refresh

#355 Add temporary resources for collection upgrade refresh
  README.rst
Labels: DEA-notebooks_refresh

#359 Fix load_clearlandsat casting to float64
  10_Scripts/DEADataHandling.py
Labels: Pre-refresh issues

#358 Performance enhancements for load_ard
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh

#356 Add placeholder dea_classificationtools script
  Scripts/dea_classificationtools.py
Labels: DEA-notebooks_refresh

#362 Adding temporary info to `develop` readme pages
  DEA_datasets/README.rst
  Frequently_used_code/README.rst
  Real_world_examples/README.rst
Labels: DEA-notebooks_refresh

#357 New notebooks for CopHub Workshop
  .gitignore
  DEA_sandbox/Case_Studies/Agriculture.ipynb
  DEA_sandbox/Case_Studies/Forestry.ipynb
  DEA_sandbox/Case_Studies/Mining.ipynb
  DEA_sandbox/Case_Studies/Waterbody_Monitoring.ipynb
  DEA_sandbox/Case_Studies/utils/casestudy_mining_functions.py
  DEA_sandbox/Case_Studies/utils/dea_bandindices.py
  DEA_sandbox/Case_Studies/utils/dea_datahandling.py
  DEA_sandbox/Case_Studies/utils/dea_plotting.py
Labels: Pre-refresh issues

#363 Fix load_ard to preserve attributes when masking
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh

#364 Same fix for lost CRS attributes for `load_clearlandsat`
  10_Scripts/DEADataHandling.py
Labels: Pre-refresh issues, bug

#371 adding Exporting_geotiff notebook to Frequently_used_code
  Frequently_used_code/Exporting_geotiffs.ipynb
  Scripts/dea_datahandling.py
  Scripts/dea_spatialtools.py
Labels: DEA-notebooks_refresh

#366 Add Working_with_time notebook
  Frequently_used_code/Working_with_time.ipynb
Labels: DEA-notebooks_refresh

#370 adding array_to_geotiff function to Scripts/dea_datahandling
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh

#365 Make linear regression notebook use cloud free data
  09_Workflows/LinearModels-NDVI_recession.ipynb
Labels: Pre-refresh issues

#381 Fix load_ard dropping attributes when changing dtype
  Frequently_used_code/Using_load_ard.ipynb
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh, bug
