Repository GeoscienceAustralia/dea-notebooks, pull requests merged in 2019-10, with the labels that each got.

#367 Notebook s2 ndci
  .gitignore
  Real_world_examples/Chlorophyll_monitoring.ipynb
Labels: DEA-notebooks_refresh

#391 Notebook coastalerosion
  Real_world_examples/Coastal_erosion.ipynb
  Scripts/dea_coastaltools.py
  Scripts/dea_datahandling.py
  Scripts/dea_plotting.py
  Scripts/dea_spatialtools.py
Labels: DEA-notebooks_refresh

#390 Image segmentation notebook for Frequently_used_code
  Frequently_used_code/Image_segmentation.ipynb
Labels: DEA-notebooks_refresh

#394 Close #393 by calculating aspect on the final two dimensions, rather than excluding the sometimes missing index_dim
  Scripts/dea_plotting.py
Labels: DEA-notebooks_refresh, bug

#397 Contour extraction notebook
  Frequently_used_code/Contour_extraction.ipynb
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh

#399 Rasterizing vectors and vectorizing raster with rasterio
  Frequently_used_code/Rasterize_vectorize.ipynb
Labels: DEA-notebooks_refresh

#403 Add wofs_fuser to dea_datahandling
  Scripts/dea_datahandling.py
Labels: DEA-notebooks_refresh

#406 Add calculating band indices notebook
  Frequently_used_code/Calculating_band_indices.ipynb
Labels: DEA-notebooks_refresh

#402 Intertidal elevation notebook
  Real_world_examples/Intertidal_elevation.ipynb
  Scripts/dea_plotting.py
  Scripts/dea_spatialtools.py
Labels: DEA-notebooks_refresh

#412 Update to notebook template after refresh sprint
  DEA_notebooks_template.ipynb
Labels: DEA-notebooks_refresh

#410 Notebook wofs bitmask
  Frequently_used_code/Applying_WOfS_bitmasking.ipynb
Labels: DEA-notebooks_refresh

#376 Create draft notebook intro to jupyter
  Beginners_guide/Introduction_to_Jupyter.ipynb
Labels: DEA-notebooks_refresh

#415 Add open geotiff notebook to clean directory
  Frequently_used_code/Open_Geotiff_and_NetCDF_as_xarray.ipynb
Labels: DEA-notebooks_refresh

#418 changes to the Sentinel2ScenesToGeoTIFF notebook for our collaborator
  08_Outputting_data/Sentinel2ScenesToGeoTIFF.ipynb
Labels: Pre-refresh issues, bug, priority

#383 Intro to products and measurements
  Beginners_guide/Introduction_to_products_and_measurements.ipynb
  Supplementary_data/Introduction_to_products_and_measurements/DEAExplorer.JPG
Labels: DEA-notebooks_refresh

#419 Add tidal phase calculation to tidal_tag function
  Scripts/dea_coastaltools.py
Labels: DEA-notebooks_refresh, enhancement

#387 Intro to loading data
  Beginners_guide/04_Loading_data.ipynb
  Beginners_guide/README.rst
  Supplementary_data/04_Loading_data/dea_logo.jpg
  Supplementary_data/04_Loading_data/progress_bar.jpg
Labels: DEA-notebooks_refresh

#421 Rename beginners notebooks, fix readthedocs issues, add style
  Beginners_guide/01_Jupyter_notebooks.ipynb
  Beginners_guide/03_Products_and_measurements.ipynb
  Beginners_guide/04_Loading_data.ipynb
  Supplementary_data/03_Products_and_measurements/DEAExplorer.JPG
  Supplementary_data/dea_logo.jpg
Labels: DEA-notebooks_refresh

#424 Minor style updates and fixes for readthedocs issues
  DEA_notebooks_template.ipynb
Labels: DEA-notebooks_refresh

#425 S2 notebook
  DEA_datasets/Sentinel_2.ipynb
Labels: DEA-notebooks_refresh

#426 Updates to S2 notebook
  DEA_datasets/Sentinel_2.ipynb
Labels: DEA-notebooks_refresh

#429 Fix bug in Change Detection notebook
  Real_world_examples/Change_detection.ipynb
Labels: DEA-notebooks_refresh, bug
